*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.body{
  font-family: sans-serif;
}

.header-container{
  margin: 0 auto;
  width: 1250px;
  background: wheat;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 110px;
}

.text-header{
}

.top_icon{
  position: relative;
  bottom: -4px;
}

.phone-number{
  color: #00093C;
}



.footer-section{
  height: 560px;
  width: 1920px;
  background-color: #00093C;
  display: flex;
  justify-content: space-between;
  color: white;
}

.column-header{
  font-size: 16px;
  font-weight: bold;
}

.footer-logo{
  scale: 70%;
}
