*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.body{
  font-family: sans-serif;
}

.header-container{
  margin: 0 auto;
  width: 1250px;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 110px;
}

.text-with-pic-header{
  position: relative;
  top: -3px;
}

.top_icon{
  position: relative;
  bottom: -4px;
}

.phone-number{
  color: #00093C;
}

.btn-secondary{
  background-color: transparent;
  border: none;
}

.btn-secondary:hover{
  color: black;
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.btn-secondary:focus{
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.btn{
  color: black;
}

.section-1{
  position: relative;
  background: url("../img/bg-top.png");
  height: 480px;
}

.line-decor-1{
  position: absolute;
  top: 400px;
  left: 645px;
  z-index: 1;
}

.line-decor-2{
  position: absolute;
  top: 260px;
  left: 100px;
  z-index: 1;
}

.container-1{
  width: 1220px;
  margin: 0 auto;
  color: white;
  position: relative;
}

.header-text{
  position: relative;
  top: 37px;
  color: white;
  font-weight: bold;
  font-size: 42px;
}

.second-text-header{
  position: relative;
  top: 75px;
  display: flex;
  justify-content: space-between;
  width: 315px;
  font-size: 14px;
}

.price-top{
  position: relative;
  top: 115px;
  font-weight: bold;
  font-size: 28px;
}

.open-it-summer{
  position: relative;
  top: 130px;
  font-weight: bold;
  font-size: 36px;
}

.line-over-full-day{
  background-image: linear-gradient(to right,rgba(247, 148, 29, 1), rgba(39, 170, 225, 1));
  width: 127px;
  height: 2px;
  margin-bottom: 10px;
}

.line-over-half-day{
  background-image: linear-gradient(to right,rgba(247, 148, 29, 1), rgba(39, 170, 225, 1));
  width: 95px;
  height: 2px;
  margin-bottom: 10px;
}

.line-over-price-top{
  background-image: linear-gradient(to right,rgba(247, 148, 29, 1), rgba(39, 170, 225, 1));
  width: 245px;
  height: 2px;
  margin-bottom: 3px;
}

.button-top{
  position: relative;
  top: 143px;
  background-color: #F7941D;
  color: white;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  border-radius: 6px;
  height: 50px;
  width: 180px;
  cursor: pointer;
  border: none;
}

.section-2{
  background: white;
}

.container-2{
  width: 1220px;
  margin: 79px auto 0 auto;
}

.top-content{
  display: flex;
  list-style-image: url("../img/list-icon.svg");
  justify-content: space-around;
}

.list-section-2{
  margin-top: 20px;
  line-height: 46px;
}

.bottom-content{
  height: 297px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}

.certificate-text{
  margin: auto 0;
}

.certificate-header-text{
  color: #00093C;
  font-weight: bolder;
  font-size: 36px;
}

.description-certificate-text{
  color: black;
  font-size: 20px;
  line-height: 36px;
  text-align: left;
  width: 430px;
}

.certificate-image-shadow{
  filter: drop-shadow(1px 26px 40px rgba(0, 9, 60, 0.3));
}

.certificate-image{
  filter: drop-shadow(1px 4px 4px rgba(0, 0, 0, 0.25));
}

.footer-section{
  height: 560px;
  width: 1920px;
  background-color: #00093C;
  display: flex;
  justify-content: space-between;
  color: white;
}

.column-header{
  font-size: 16px;
  font-weight: bold;
}

.footer-logo{
  scale: 70%;
}
